<div class="row">
  <div class="col-3 m-3">
    <h4 class="ml-4"><%= @end_user.name %></h4>
    <%= image_tag @end_user.get_profile_image(100,100),class:"rounded-circle border m-1" %>
    <table class="table text-center">
      <thead>
        <tr class="table-info">
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>ユーザID</th>
          <td><%= @end_user.id %></td>
        </tr>
        <tr>
          <th>ユーザ名</th>
          <td><%= @end_user.name %></td>
        </tr>
        <tr>
          <th>紹介文</th>
          <td><%= @end_user.introduction %></td>
        </tr>
        <tr>
          <th>投稿数</th>
          <td><%= @end_user.post_images.count %></td>
        </tr>
      </tbody>
    </table>
    <% if @end_user.name !="ゲストユーザ" %>
      <% if @end_user == current_end_user %>
        <p><%= link_to "プロフィール編集", edit_public_end_user_path(@end_user),class:"btn btn-success" %></p>
      <% end %>
    <% end %>
  </div>

  <div class="col-8">
    <h3>投稿一覧</h3>
    <%= render 'public/post_images/search_form', search:@search, url: public_end_user_path %>
    <% if @results.length !=0 %>
      <%= render 'public/post_images/index', post_images:@results %>
      <%= paginate @results %>
    <% else %>
    該当する投稿が見つかりませんでした。
    <% end %>
  </div>

</div>