<div class="col-6 m-3 card">
  <h5 class="mt-3">コメント一覧</h5>
  <div class="m-3">
    <%= form_with model: [post_image, comment], url:public_post_image_comments_path(post_image), local:false, class:"form-inline" do |f| %>
      <%= f.text_area :text, placeholder: "コメントを入力", class:"form-control" %>
      <%= f.submit "送信する",class:"btn btn-primary m-3" %>
    <% end %>
  </div>
  <div class="comment-index_<%= post_image.id %>">
  <%= render "public/comments/comment-index", post_image:post_image, comment:comment %>
  </div>
</div>