<div class="card-columns p-3">
  <% post_images.each do |post_image| %>
  <div class="card">
      <%= link_to public_post_image_path(post_image.id) do %>
        <%= image_tag post_image.get_image(400,400), class:"card-img-top" %>
      <% end %>
    <div class="card-body">
      <b><i class="fa-solid fa-camera"></i>:<%= post_image.title %></b>
      <p><%= post_image.caption %></p>
      <span>
        <%= link_to public_end_user_path(post_image.end_user.id) do %>
          <%= image_tag post_image.end_user.get_profile_image(50,50), class:"m-3 rounded-circle border" %>
          <%= post_image.end_user.name %>
        <% end %>
         |
        <% if post_image.favorited_by?(current_end_user) %>
          <%= link_to public_post_image_favorites_path(post_image), method: :delete do %>
            <i class="fa-solid fa-heart text-danger"></i><%= post_image.favorites.count %> いいね
          <% end %>
        <% else %>
          <%= link_to public_post_image_favorites_path(post_image), method: :post do %>
            ♡<%= post_image.favorites.count %> いいね
          <% end %>
        <% end %>
         |
        <%= link_to  public_post_image_path(post_image.id) do %>
          <i class="fa-regular fa-comment-dots"></i><%= post_image.comments.count %> コメント
        <% end %>
      </span>
    </div>
  </div>
  <% end %>
</div>