<div class="container">
  <div class="col-3 text-center">
    <h4><%= @end_user.name %></h4>
    <%= image_tag @end_user.get_profile_image(100,100),class:"rounded-circle border" %>
  </div>
  <table class="table text-center col-8">
    <thead>
      <tr class="table-info">
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>ユーザID</th>
        <td><%= @end_user.id %></td>
      </tr>
      <tr>
        <th>ユーザ名</th>
        <td><%= @end_user.name %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @end_user.email %></td>
      </tr>
      <tr>
        <th>紹介文</th>
        <td><%= @end_user.introduction %></td>
      </tr>
      <tr>
        <th>ユーザステータス</th>
        <td>
          <%= form_with model: @end_user, url: admin_end_user_path do |f| %>
          <%= f.radio_button :is_active, true %><%= f.label :is_active, "有効", class: "text-success" %>
          ｜
          <%= f.radio_button :is_active, false %><%= f.label :is_active, "退会済み", class: "text-danger" %>
          <%= f.submit "変更を保存",class:"btn btn-primary ml-3" %>
          <% end %>
        </td>
    　</tr>
    </tbody>
  </table>
</div>

<h3>投稿一覧</h3>
<%= render 'admin/post_images/search_form', search:@search, url: admin_end_user_path %>
<% if @results.length !=0 %>
  <%= render 'admin/post_images/index', post_images:@results %>
  <%= paginate @results %>
<% else %>
  該当する投稿が見つかりませんでした。
<% end %>