
<div class="d-flex align-content-start flex-wrap">
<% post_images.each do |post_image| %>
<div>
  <div>
  <%= link_to admin_post_image_path(post_image.id) do %>
  <%= image_tag post_image.get_image(400,400) %>
  <% end %>
  </div>
  <div>
  <%= image_tag post_image.end_user.get_profile_image(50,50),class:"rounded-circle" %>
  タイトル：<%= post_image.title %>
  説明：<%= post_image.caption %>
  <i class="fas fa-user"></i>ユーザ名：<%= post_image.end_user.name %>
  <%= link_to "#{post_image.comments.count} コメント", admin_post_image_path(post_image.id), class:"text-dark" %>
  </div>
</div>
<% end %>
</div>


<div class="card-list-container py-5">
  <% post_images.each do |post_image| %>
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <%= link_to admin_post_image_path(post_image.id) do %>
      <%= image_tag post_image.get_image(200,200), class:"card-img-top"; %>
    <% end %>
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <%= image_tag post_image.end_user.get_profile_image(100,100), class:"m-3 rounded-circle"; %>
        </div>
        <div class="col-10">
          <p class="card-title">
            <%= link_to(admin_post_image_path(post_image.id), class:"text-dark") do %>
              <strong><i class="far fa-flag"></i><span> <%= post_image.title %></span></strong>
            <% end %>
          </p>
          <p class="card-text">説明：<%= post_image.caption %></p>
          <span><i class="fas fa-user"></i> By <%= post_image.end_user.name %> ｜ </span>
          <span><%= link_to "#{post_image.comments.count} コメント", admin_post_image_path(post_image.id), class:"text-dark" %></span>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>