<div class="container">
  <h4>カテゴリ一覧</h4>
  <div class="mb-1">
    <%= form_with model: @category, url:admin_categories_path do |f| %>
    <%= f.text_field :name ,placeholder:"カテゴリ名を入力"%>
    <%= f.submit "新規作成",class:"btn btn-primary" %>
    <% end %>
  </div>
  <table class="table">
    <thead>
      <tr class="table-info">
        <th></th>
        <th>カテゴリ名</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
      <tr>
      　<td></td>
      　<td><%= category.name %></td>
      　<td><%= link_to "編集", edit_admin_category_path(category.id),class:"btn btn-success" %></td>
      　<td><%= link_to "削除", admin_category_path(category.id), method: :delete,class:"btn btn-danger" %></td>
    　</tr>
    　<% end %>
    </tbody>
  </table>
  <div>
    <%= paginate @categories %>
  </div>
</div>