<!DOCTYPE html>
<html>
  <head>
    <title>Natulax</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">

    <header class="bg-success">
      <%= render 'layouts/header' %>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if flash[:danger] %><p class="text-red"><%= flash[:danger] %></p><% end %>

    <main class="mb-auto">
      <%= yield %>
    </main>

    <footer class="bg-success pt-5 pb-4">
      <% if admin_signed_in? %>
      <% else %>
       <%= link_to "ログイン", new_admin_session_path %>
      <% end %>
    </footer>

  </body>
</html>
